@import "@/presentation/styles/colors.scss";

$white: #fff;
$black: #333;
$background: #f2f2f2;
$grey: #ddd;
$primary: #880E4F;
$primaryDark: #560027;
$primaryLight: #BC477B;

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="password"], input[type="email"], input[type="text"] {
  border: none;
  outline: none;
}

button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  line-height: 50px;
  transition: 0.2s opacity;
  outline: none;

  &:disabled {
    background-color: $disabledBackground;
    color: $disabledColor;

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}